*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

:root{
    --background: rgb(246, 247, 247);
    --border: rgb(204, 194, 194);
    --white: rgb(255, 255, 255);
    --text: rgb(100, 105, 120);
}

body{
    background-color: var(--background);
    width: 100%;
    font-family: sans-serif;
}

.container{
    width: 20%;
    height: auto;
    display: block;
    margin: 8% auto;
    position: relative;
}

.container__title{
    margin-bottom: 1.5em;
}

h2{
    font-size: 1.4em;  
    font-weight: 200;
    color: var(--text);
}

h2, p{
    text-align: center;
}

a{
    text-decoration: none;
    color: var(--text);
    font-weight: 600;
}

form{
    padding: 1.5em;
    margin-bottom: .2em;
    border: 1px solid var(--border) ;
}

form, .form__input, .button__login{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

form:last-child{
    background-color: var(--background);
    border: none;
    width: 100%;
    padding: 0;
}

input, button{
    padding: .8em;
    border: 1px solid var(--border);
    border-radius: 3px;
}

label{
    margin: .2em auto;
    font-size: .8em;
    font-weight: 700;
    color: rgb(53, 51, 51); 
    margin-bottom: .5em; 
}

.form__input, .form__conditions{
    margin-bottom: 1em;
}

.form__input, .form__conditions{
    width: 100%;
}

span{
    color: rgb(6, 117, 196);
    cursor: pointer;
}

.continue{
    background-color: rgb(201, 53, 110);
    border: none;
    color: var(--white);
    border-radius: 2px;
    padding: 1em 0;
    cursor: pointer;
}

button{
    margin-bottom: .8em;
    background-color: var(--white);
    max-height: 50px;
}

button svg{
    width: 4%;
    vertical-align: middle;
    margin-right: .5em;
}


.crear, .enlace, .password{
    width: 100%;
    padding: 1.5em;
    border-bottom: 1px solid var(--border);
    cursor: pointer;
}

.crear p, .enlace p, .password p{
    font-size: .8em;
}

.conditions{
    margin-top: .8em;
    line-height: 1.2em;
}

.form__conditions p, .conditions p{
    font-size: .8em;
}