.crud__table {
    width: 80%;
    height: auto;
    align-content: flex-start;
  }
  
  table {
    width: 100%;
    color: $white;
    border-collapse: collapse;
  }
  
  th {
    border: 1px solid $white;
    padding: 2em;
  }
  
  td {
    border: 1px solid $white;
    padding: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  