//typography
$font-stack: "Ubuntu", sans-serif;
$font-stack-condensed: "Ubuntu Condensed";

//colors

$background-color: #242e42;

$grey: hsl(0, 0%, 90%);
$grey-darker: hsl(0, 0%, 80%);
$grey-darkest: hsl(0, 0%, 70%);
$black: hsl(0, 0%, 0%);
$black-brighter: hsl(0, 0%, 10%);
$black-brightest: hsl(0, 0%, 20%);
$white: hsl(0, 0%, 100%);
